<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Home</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
    <link href="static/default.css" rel="stylesheet", type="text/css" media="all">
    <link href="static/fonts.css" rel="stylesheet", type="text/css" media="all">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
</head>
<body>

<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="/">어디가지?</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="/" accesskey="1" title="">Home</a></li>
				<li><a href="#extra" accesskey="2" title="">지역 분포도</a></li>


			</ul>
		</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2 align="center">아이디를 입력하세요</h2>
			</div>
			<ul class="actions">
					<form method="post" class="input" action="/post" >
					   <input type = "text" id="input" name = "input" class="input"><br/>
						<li>
						<input type="submit" class="button" value="로그인" onclick="alert('로그인 완료!')"/> </p>
						</li>
					</form>
			</ul>
		</div>
	</div>


	<div id="extra" class="container">
		<div id="folium" class="title">
			<h2>지역 분포도</h2><br><br>
			<img src="static\images\folium.png" alt="" class="static"><br><br>
		</div>
    </div>

	<!--COUNTING UP-->
	<div class="middle">
		<div class="counting-sec">
			<div class="inner-width">
				<div class="col">
					 <i class="far fa-smile-wink"></i>
					 <div class="num">136246</div>
					  REVIEWS
				</div>

				<div class="col">
					 <i class="fas fa-briefcase"></i>
					 <div class="num">1363469</div>
					  PLACES
				</div>

				<div class="col">
					 <i class="far fa-money-bill-alt"></i>
					 <div class="num">65646487</div>
					 USERS
				</div>
			</div>
		</div>
	</div>

  </div>


</div>

<footer>
<div id="copyright" class="container">
	<p>&copy; 잘잘잘. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</footer>

<script type="text/javascript">
$(".num").counterUp({delay:10,time:1000});
</script>

잘잘잘조의 프로젝트 입니다.
</body>
</html>