<!-- login_fail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 실패</title>
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th{
            font-weight:bold;
        }
    </style>
</head>
<body>

<h1>{{name}}님은 아직 어디가지의 회원이 아닙니다.</h1>
<h2> 비회원을 위한 일반 추천을 해드릴게요</h2>

{{data}}
</body>
</html>